section
    .container
        .row
            .col-lg-3
                .header-logo
                    img(src="#" alt="logo")
            .col-lg-3
                .header-number
                    a(href="#") 12345678912
                .header-feedback_call
                    a(href="#") Обратный звонок