extends ../layout/main

block variables
  - let title = 'Vega Style';
  - let pageClass = 'about-page';

block content
    .conteiner
      h1 Тест2
      +image("Rectagle36.png")
      h2 Тест2
      a(href="index.html") Link