extends ../layout/main

block variables
  - let title = 'Vega Style';
  - let pageClass = 'about-page';

block content
    .container-about
      ul.breadcrumb.container
        li.breadcrumb-item
          a(href='index.html').breadcrumb-item__link Главная
        li.breadcrumb-item.active(aria-current='page') О нас
      +content-about
      +certificates-about