extends ../layout/main

block variables
  - let title = 'Vega Style';
  - let pageClass = 'main-page';

block content
  .block-1-promo.container
    .row
      .col-auto
        +image("photo-block-2.png", "100%").block-1-promo__photo
        h2.block-1-promo__title 
          |Больше места для хранения вещей — больше
          |пространства для жизни!
        p.block-1-promo__text 
          |Отличный вариант для кухни, где наличие дополнительного
          |пространства для хранения исключает необходимость...
        a(href="#").block-1-promo__more Подробнее
  .block-2-news
    h2.block-2-news__title.text-center Новости
    .block-2-news__container
      .block-2-news__news-1
        h3.block-2-news__news-1__title-news
          |Больше места для хранения вещей
          |— больше пространства для жизни!
          p.block-2-news__news-1__date-news 18.06.2020
      .block-2-news__news-2.block-2-news__sm
        h3.block-2-news__sm__title-news «Янтарное дерево» – декор из польского зернохранилища
          p.block-2-news__sm__date-news 18.06.2020
      .block-2-news__news-3.block-2-news__sm
        h3.block-2-news__sm__title-news Мировая новинка: PCS® Preventive Contact System
          p.block-2-news__sm__date-news 18.06.2020
      .block-2-news__news-4.block-2-news__sm
        h3.block-2-news__sm__title-news.block-2-news__sm__title-news-2 FELDER - портальный, фрезерный ЧПУ с безграничными возможностями
          p.block-2-news__sm__date-news 18.06.2020
      .block-2-news__news-5.block-2-news__sm
        h3.block-2-news__sm__title-news.block-2-news__sm__title-news-2 FELDER - портальный, фрезерный ЧПУ с безграничными возможностями
          p.block-2-news__sm__date-news 18.06.2020
      .block-2-news__news-6.block-2-news__sm
        h3.block-2-news__sm__title-news FELDER - портальный, фрезерный ЧПУ с безграничными возможностями
          p.block-2-news__sm__date-news 18.06.2020
  .big-container
    .block-3-projects.container
      .row.align-items-center
        .col-3
          h2.block-3-projects__title Реализованные проекты
          p.block-3-projects__text
            |Проще и быстрее, чем в обычном магазине!Проще и быстрее, чем в обычном магазине!
          p.block-3-projects__text
            |Проще и быстрее, чем в обычном магазине!Проще и быстрее, чем в обычном магазине!
          a(href="#").block-3-projects__more Подробнее
        .col-9.section-static
          .block-3-projects__slider
            .block-3-projects__slider__nav
              button.block-3-projects__slider__nav__prev
              button.block-3-projects__slider__nav__next
            .block-3-projects__slider__wrapper
              .block-3-projects__slider__slides
                a(href="#").block-3-projects__slider__slides__slide.projects__slide-1
                a(href="#").block-3-projects__slider__slides__slide.projects__slide-2
                a(href="#").block-3-projects__slider__slides__slide.projects__slide-3
                a(href="#").block-3-projects__slider__slides__slide.projects__slide-4
    .block-4-delivery.container
      .row
        .col.my-auto
          h2.block-4-delivery__title 
            |Доставка
          a(href="#").block-4-delivery__more Подробнее
        .col
          +image("img-delivery.png", "100%")
    .block-5-checkout
      .container.text-center
        .row
          .col
            h2.block-5-checkout__title 
              |Мебель на заказ
            h3.block-5-checkout__subtitle 
              |Изготавливаем мебель по чертежам заказчика
            form.block-5-checkout__form.row.justify-content-center
              input(type="text" onfocus="this.value=''" value="Имя" placeholder="Ваше имя"
 name="name" required autocomplete).colrow.block-5-checkout__form__input
              input(type="text" onfocus="this.value=''" value="Телефон" placeholder="Ваш номер телефона"
 name="NumPhone" required autocomplete).colrow.block-5-checkout__form__input
              input(type="submit" value="Заказать").colrow.block-5-checkout__form__input
    .block-6-warehouse.container
      .row
        .col.my-auto
          h2.block-6-warehouse__title 
            |Складская программа
          a(href="#").block-6-warehouse__more Подробнее