extends ../layout/main

block variables
  - let title = 'Vega Style';
  - let pageClass = 'main-page';

block content
  .block-1-promo.container
    h1.title Комфортная мебель для жизни
    h2.subtitle Проще и быстрее, чем в обычном магазине!
    button.button__more Подробнее
    .section-promo
      +image("couch-main.png", "984px", "514px").section-prono__content
      ul.section-promo__nav
        li.section-promo__item
          input(type="radio")#section-promo__
        li.section-promo__item
          input(type="radio")#section-promo__
        li.section-promo__item
          input(type="radio")#section-promo__
  .block-2-promo.container
    +image("photo-block-2.png", "705px", "278px").block-2-promo__photo
    h2.block-2-promo__title Больше места для хранения вещей — больше пространства для жизни!
    p.block-2-promo__text Отличный вариант для кухни, где наличие дополнительного пространства для хранения исключает необходимость...
    a(href="#").block-2-promo__more Подробнее
  .block-3-news.container
    
  a(href="about.html") Link 